.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputCol{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    min-width: 30vh;
    padding: 10px;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40vh;
    min-height: 40vh;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(42, 134, 165);
    box-shadow: 2px 2px 35px rgba(0, 128, 170, 0.998);
    margin: 30px;
}